<h2>フォロイーリスト</h2>

<% if @followees.empty? %>
	<%= "フォロイーはいません。" %>
<% else %>
	<% @followees.each do |followee| %>
		<% if @user.email != followee.email %>
			<%= link_to followee.email, "/#{followee.account}" %>
			<br>
		<% end %>
	<% end %>
<% end %>