<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if not @user.icon.url.nil? %>
<%= image_tag @user.icon.url %>
<% end %>
<% @user.tweets.each { |tweet| %>
<%= tweet.text %>
<% if not tweet.image.url.nil? %>
<%= image_tag tweet.image.url %>
<% end %>
<% } %>