#notice, #showed_notice {
	color: white;
	background-color: blue;
	width: 100%;
	position: absolute;
	left: 0px;
	text-align: center;
}

#notice {
	top: -10px;
}
#showed_notice {
	top: 0px;
	display: none;
}

.trans_key {
	font-size: x-large;
}

.trans_site {
	font-size: small;
	color: white;
	background-color: crimson;
}